---
import PageLayout from "@/components/layout/Base.astro";
import { getAllPosts, getUniqueTagsWithCount } from "@/utils";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: "All Tags",
};
---

<PageLayout meta={meta}>
	<h1 class='title mb-2'>Tags</h1>
	<div class='overflow-hidden overflow-x-auto'>
		<table class='w-full border dark:border-gray-600'>
			<thead>
				<tr class='bg-primary-50 border-b bg-background border-gray-400'>
					<th class='px-6 py-2 text-left text-sm font-semibold'>Tag</th>
					<th class='px-6 py-2 text-left text-sm font-semibold'>Posts</th>
				</tr>
			</thead>
			<tbody>
				{
					allTags.map(([tag, val]) => (
						<tr class='border-b  dark:border-gray-600'>
							<td class='px-3 py-1'>
								<a
									aria-label={`View all posts with the tag: ${tag}`}
									data-astro-prefetch
									href={`/tags/${tag}/`}
									class='blog-link p-1 hover:rounded-t-md hover:bg-accent/15'
								>
									<span class='mr-1 text-gray-600 dark:text-gray-400'>&#35;</span>
									{tag}
								</a>
							</td>
							<td class='px-6 py-1 text-slate-600 dark:text-slate-400'>{val}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</PageLayout>
