---
import SocialList from "@/components/SocialList.astro";
import Title from "@/components/Title.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/components/layout/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const work: { desc: string; href?: string; title: string }[] = [
  {
    title: "Currently",
    href: "#",
    desc: "A student majoring Electrical & Electronics Engineering",
  },
  {
    title: "Remora @ Teknopark",
    href: "https://remora.com.tr/",
    desc: "Interned briefly at Remora during my sophomore year",
  },
  {
    title: "Software developer",
    href: "#",
    desc: "A freelance developer building web/mobile applications",
  },
];

const interests: { desc?: string; href?: string; title: string }[] = [
	{
		desc: "using React & Nextjs",
		href: "/",
		title: "Web Development",
	},
	{
		desc: "primarily transformer & diffusion models",
    title: "ML"
	},
	 {
    title: "Valuation & Analysis",
    desc:"in the Semiconductor Sector"
	},
	{
		desc: "RISCV, TensTorrent, OpenROAD, OpenLane",
    title:"Open-sourceness"

	},
	 {
		desc: "CPU & GPU Design",
    title:"HDL & chip design"
	},
	 {
		desc: "both the business acuity and technological ingenuity",
    title:"Computer History"
  },
]
const techs: { desc: string; href: string; title: string }[] = [
	{
		desc: "A historical perspective of Integrated circuits, from flipflops to FPGA.",
		href: "/tags/i.c.",
		title: "I.C.'s",
	},
	{
		desc: "Generative Models, Variation of the architecture, trends and papers,...",
		href: "/tags/transformer",
		title: "Transformer",
	},
	{
		desc: "Dynamics of how react works internally, libraries and stuff",
		href: "/tags/react",
		title: "React",
	},
	{
		desc: "Accounting and Basic Financial analysis, perhaps on Time series pre-trained models",
		href: "/tags/finance",
		title: "Finance",
	},
	// {
	// 	desc: "Some stuff on english, turkish, french, arabic...",
	// 	href: "/tags/language",
	// 	title: "Languages",
	// },
	// {
	// 	desc: "....",
	// 	href: "#",
	// 	title: "Faith",
	// },
];
---

<PageLayout meta={{ title: "Home" }} transition:animate={fade({ duration: "0.4s" })}>
	<section>
		<div class="mb-6 inline-flex items-end gap-x-2">
			<div class="mb-auto">
				<Image
					alt="profile"
					class="rounded-full"
					height={100}
					loading="eager"
					src="https://avatars.githubusercontent.com/u/64834413"
					width={100}
				/>
			</div>
			<div>
				<h1 class="title">Hi,</h1>
				<p class="mb-4">I'm Abdel-manan A.R. Junior (amar-jay).</p>
				<SocialList />
			</div>
		</div>
	</section>
	<section class="mt-16">
		<Title>Interests</Title>
		<dl class="space-y-4">
			{
      interests.map((props) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex font-bold">
									{props.title}
							</span>
						</dt>
						<dd>({props?.desc})</dd>
					</div>
				))
			}
		</dl>
	</section>

	<section class="mt-16">
		<Title>Work</Title>
		<dl class="space-y-4">
			{
      work.map(({desc, title, href}) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex font-bold">
								<a class="blog-link" href={href}>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<Title>Posts</Title>
		<ul class="space-y-4">
			<!-- <span>None so far. I will start writing soon.....</span> -->
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

<!--
	<section class="mt-16">
		<Title>Technologies</Title>
		<dl class="space-y-4">
			{
				techs.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="blog-link" href={href}>
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
  -->
</PageLayout>
