---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import {Image} from "astro:assets"

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: { desc: string; href: string; title: string }[] = [
	{
		desc: "A historical perspective of Integrated circuits, from flipflops to FPGA.",
		href: "/tags/i.c.",
		title: "I.C.'s",
	},
	{
		desc: "Generative Models, Variation of the architecture, trends and papers,...",
		href: "/tags/transformers",
		title: "Transformers",
	},
	{
		desc: "Dynamics of how react works internally, libraries and stuff",
		href: "/tags/react",
		title: "React",
	},
	{
		desc: "Accounting and Basic Financial analysis, perhaps on Time series pre-trained models",
		href: "/tags/finance",
		title: "Finance",
	},
	{
		desc: "Some stuff on english, turkish, french, arabic...",
		href: "/tags/language",
		title: "Languages",
	},
	{
		desc: "....",
		href: "#",
		title: "Faith",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
    <div class="inline-flex gap-x-2 items-end mb-6">
      <div class="mb-auto">

      <Image
        width={100}
        class="rounded-full"
        height={100}
        alt="profile"
        loading="eager"
        src="/profile.webp"
      />
      </div>
      <div>
		    <h1 class="title">Hi,</h1>
        <p class="mb-4">
          I'm Abdel-manan A.R. Junior (amar-jay).
        </p>
		    <SocialList />
      </div>
    </div>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
      <span>None so far. In the coming days, I will start writing.....</span>
      <!--
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
      -->
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Technologies</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
